html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'Montserrat', sans-serif, Arial;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif, Arial;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}

.padding-zero {
    padding: 0 !important;
}

#leadtext {
    border-width: 0px;
    position: absolute;
    left: 750px;
    top: 106px;
    width: 393px;
    height: 148px;
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
}

.leadtext_label {
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: center;
    line-height: normal;
}

.form-heading {
    border-width: 0px;
    background-color: rgba(82, 103, 139, 1);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFFFFF;
    text-align: center;
    height: 148px;
    padding: 40px 0 20px 0;
    font-size: 28px;
}

.form-heading p {
    line-height: 1;
}

.bg-color-none {
    background-color: #ffffff !important;
    border: 1px solid #ffffff !important;
    padding: 15px 30px !important;
}

.header-img {
    width: 428px;
}

.logincontainer {
    max-width: 767px !important;
}

.modal-content {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
    border-radius: 0px !important;
}

.text-color {
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    color: #ff6358;
}

@media (min-width: 768px) and (orientation: landscape) {
    .header-img {
        width: 400px;
        height: 320px;
    }
    .form-heading {
        width: 400px;
    }
    .logincontainer {
        margin: 30px 165px;
    }
}

@media (max-width: 1024px) and (orientation: portrait) {
    .header-img {
        width: 350px;
        height: 320px;
    }
    .form-heading {
        width: 350px;
        height: 124px;
    }
    .logincontainer {
        margin: 30px 50px;
    }
}

.fieldlist {
    margin: 2em 0 -2em;
    padding: 0;
}

.fieldlist li {
    list-style: none;
    padding-bottom: 1.8em;
}

.fieldlist label {
    display: block;
    padding-bottom: 1em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: #444;
}

.checkbox label {
    margin-bottom: 25px !important;
    font-size: 12px;
    color: #999999
}

.text-label {
    margin: 25px 0px !important;
    font-size: 12px;
    color: #999999
}

.input {
    width: 100%;
    padding: 10px;
}

.button {
    width: 100%;
    padding: 10px 0px;
}

.bottom-label {
    color: #ff6358;
    border: 0;
    border-top: 1px solid #eeeeee;
    width: 100%;
    margin-top: 21px;
    padding-top: 15px;
}

.create-label {
    margin-top: 10px;
    font-size: 12px;
    color: #999999
}

.logo {
    margin-left: 13%;
    margin-bottom: 35px;
}

.logolabel {
    color: #999999;
    text-align: center;
}
