<!DOCTYPE html>
<html ng-app="App" lang="en">

<head>
    <title>Dashboard app</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <!-- Styles -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets.min.css" type="text/css" />
    <link rel="stylesheet" href="app.min.css" type="text/css" />
</head>

<body ng-app="App" ng-cloak>
    <!-- header-container start -->
    <div class="header-container">
        <!-- header-top start -->
        <!-- classes:  -->
        <!-- "dark": dark version of header top e.g. class="header-top dark" -->
        <!-- "colored": colored version of header top e.g. class="header-top colored" -->
        <!-- ================ -->
        <div class="header-top dark ">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 col-sm-6 col-md-9">
                        <!-- header-top-first start -->
                        <!-- ================ -->
                        <div class="head-contact">
                            <a class="ulicon-phone" href="/#contact"> Toll Free: 1-888-MEDSAFE</a>
                        </div>
                        <!-- header-top-first end -->
                    </div>
                    <div class="col-xs-9 col-sm-6 col-md-3">
                        <!-- header-top-second start -->
                        <!-- ================ -->
                        <div id="header-top-second" class="clearfix">
                            <!-- header top dropdowns start -->
                            <!-- ================ -->
                            <div class="header-top-dropdown text-right">
                                <div class="btn-group">
                                    <a href="template/page-signup.html" class="btn btn-default btn-sm"><i class="fa fa-user pr-10"></i> Sign Up</a>
                                </div>
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn dropdown-toggle btn-default btn-sm" data-toggle="dropdown"><i class="fa fa-lock pr-10"></i> Login</button>
                                    <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                                        <li>
                                            <form class="login-form margin-clear">
                                                <div class="form-group has-feedback">
                                                    <label class="control-label">Username</label>
                                                    <input type="text" class="form-control" placeholder="">
                                                    <i class="fa fa-user form-control-feedback"></i>
                                                </div>
                                                <div class="form-group has-feedback">
                                                    <label class="control-label">Password</label>
                                                    <input type="password" class="form-control" placeholder="">
                                                    <i class="fa fa-lock form-control-feedback"></i>
                                                </div>
                                                <button type="submit" class="btn btn-gray btn-sm">Log In</button>
                                                <span class="pl-5 pr-5">or</span>
                                                <button type="submit" class="btn btn-default btn-sm">Sing Up</button>
                                                <ul>
                                                    <li><a href="#">Forgot your password?</a></li>
                                                </ul>
                                                <span class="text-center">Login with</span>
                                                <ul class="social-links circle small colored clearfix">
                                                    <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                                                    <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                                                    <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                                                </ul>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--  header top dropdowns end -->
                        </div>
                        <!-- header-top-second end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-top end -->
        <!-- header start -->
        <!-- classes:  -->
        <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
        <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
        <!-- "full-width": mandatory class for the full-width menu layout -->
        <!-- "centered": mandatory class for the centered logo layout -->
        <!-- ================ -->
        <header class="header  fixed    clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 ">
                        <!-- header-first start -->
                        <!-- ================ -->
                        <div class="header-first clearfix">
                            <!-- header dropdown buttons -->
                            <div class="header-dropdown-buttons visible-xs">
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i></button>
                                    <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                                        <li>
                                            <form role="search" class="search-box margin-clear">
                                                <div class="form-group has-feedback">
                                                    <input type="text" class="form-control" placeholder="Search">
                                                    <i class="icon-search form-control-feedback"></i>
                                                </div>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-basket-1"></i><span class="cart-count default-bg">8</span></button>
                                    <ul class="dropdown-menu dropdown-menu-right dropdown-animation cart">
                                        <li>
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="quantity">QTY</th>
                                                        <th class="product">Product</th>
                                                        <th class="amount">Subtotal</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="quantity">2 x</td>
                                                        <td class="product"><a href="template/shop-product.html">Android 4.4 Smartphone</a><span class="small">4.7" Dual Core 1GB</span></td>
                                                        <td class="amount">$199.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="quantity">3 x</td>
                                                        <td class="product"><a href="template/shop-product.html">Android 4.2 Tablet</a><span class="small">7.3" Quad Core 2GB</span></td>
                                                        <td class="amount">$299.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="quantity">3 x</td>
                                                        <td class="product"><a href="template/shop-product.html">Desktop PC</a><span class="small">Quad Core 3.2MHz, 8GB RAM, 1TB Hard Disk</span></td>
                                                        <td class="amount">$1499.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="total-quantity" colspan="2">Total 8 Items</td>
                                                        <td class="total-amount">$1997.00</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="panel-body text-right">
                                                <a href="template/shop-cart.html" class="btn btn-group btn-gray btn-sm">View Cart</a>
                                                <a href="template/shop-checkout.html" class="btn btn-group btn-gray btn-sm">Checkout</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- header dropdown buttons end-->
                            <div id="logo" class="head-logo">
                                <a class="pageScroll" href="/#about">Medsafe</a>
                            </div>
                        </div>
                        <!-- header-first end -->
                    </div>
                    <div class="col-md-9">
                        <!-- header-second start -->
                        <!-- ================ -->
                        <div class="header-second clearfix">
                            <!-- main-navigation start -->
                            <!-- classes: -->
                            <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                            <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                            <!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
                            <!-- ================ -->
                            <div class="main-navigation  animated with-dropdown-buttons">
                                <!-- navbar start -->
                                <!-- ================ -->
                                <nav class="navbar navbar-default" role="navigation">
                                    <div class="container-fluid">
                                        <!-- Toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                        </div>
                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                            <!-- main-menu -->
                                            <ul class="nav navbar-nav ">
                                                <!-- mega-menu start -->
                                                <li class="dropdown active mega-menu">
                                                    <a href="template/index.html" class="dropdown-toggle" data-toggle="dropdown">ABOUT MEDSAFE</a>
                                                </li>
                                                <!-- mega-menu end -->
                                                <!-- mega-menu start -->
                                                <li class="dropdown  mega-menu">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">SERVICES</a>
                                                </li>
                                                <!-- mega-menu end -->
                                                <li class="dropdown ">
                                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">COMPLIANCE PROGRAMS</a>
                                                </li>
                                                <!-- mega-menu start -->
                                                <li class="dropdown  mega-menu narrow">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">DOCUMENTS</a
                                                    
                                                </li>
                                                <!-- mega-menu end -->
                                                <li class="dropdown ">
                                                    <a href="template/portfolio-grid-2-3-col.html" class="dropdown-toggle" data-toggle="dropdown">CLIENTS</a>
                                                </li>
                                                <li class="dropdown ">
                                                    <a href="template/index-shop.html" class="dropdown-toggle" data-toggle="dropdown">BLOG</a>
                                                </li>
                                                <li class="dropdown ">
                                                    <a href="template/blog-large-image-right-sidebar.html" class="dropdown-toggle" data-toggle="dropdown">CONTACT US</a>
                                                </li>
                                            </ul>
                                            <!-- main-menu end -->
                                        </div>
                                    </div>
                                </nav>
                                <!-- navbar end -->
                            </div>
                            <!-- main-navigation end -->
                        </div>
                        <!-- header-second end -->
                    </div>
                </div>
            </div>
        </header>
        <!-- header end -->
        <div class="banner dark-translucent-bg" style="background-image:url('../dashboardApp/src/images/intro-banner.jpg')">
            <!-- section start -->
            <!-- ================ -->
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-center col-md-offset-2 space-bottom">
                        <div class="title large_white object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">The Project</div>
                        <p class="text-center lead object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100">Multipurpose HTML5 Template - More than 200+ HTML files.</p>
                        <div class="separator object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100"></div>
                        <ul class="list-inline">
                            <li class="object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100"><i class="icon-check text-default"></i> Corporate</li>
                            <li class="object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="200"><i class="icon-check text-default"></i> Commerce</li>
                            <li class="object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="300"><i class="icon-check text-default"></i> Medical‎</li>
                            <li class="object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="400"><i class="icon-check text-default"></i> Restaurant</li>
                            <li class="object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="500"><i class="icon-check text-default"></i> Wedding</li>
                            <li class="object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="600"><i class="icon-check text-default"></i> Portfolio/Agency</li>
                            <li class="object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100"><i class="icon-check text-default"></i> Landing</li>
                            <li class="object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="200"><i class="icon-check text-default"></i> One Page</li>
                            <li class="object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="300"><i class="icon-check text-default"></i> Coming Soon</li>
                            <li class="object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="400"><i class="icon-check text-default"></i> Education</li>
                            <li class="object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="500"><i class="icon-check text-default"></i> Beauty Center</li>
                            <li class="object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="600"><i class="icon-check text-default"></i> Construction</li>
                            <li class="object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100"><i class="icon-check text-default"></i> Hotel</li>
                            <li class="object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="200"><i class="icon-check text-default"></i> Blog</li>
                            <li class="object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="300"><i class="icon-check text-default"></i> Gym</li>
                            <li class="object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="400"><i class="icon-check text-default"></i> Resume</li>
                            <li class="object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="500"><i class="icon-check text-default"></i> Logistics</li>
                            <li class="object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="600"><i class="icon-check text-default"></i> 14+ Header Options</li>
                            <li class="object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="100"><i class="icon-check text-default"></i> 8+ Footer Options</li>
                            <li class="object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="200"><i class="icon-check text-default"></i> HTML email templates</li>
                            <li class="object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn" data-effect-delay="300"><i class="icon-check text-default"></i> Much More</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center pv-40 hidden-xs">
                            <a href="#demos" class="btn btn-lg btn-animated radius-50 btn btn-white smooth-scroll object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="100">Demos	<i class="fa fa-arrow-down"></i></a>
                            <span class="ph-20"></span>
                            <a href="#sliders" class="btn btn-lg btn-animated radius-50 btn-white smooth-scroll object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="100">Slider Options <i class="fa fa-arrow-down"></i></a>
                            <span class="ph-20"></span>
                            <a href="#email_templates" class="btn btn-lg btn-animated radius-50 btn-white smooth-scroll object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="100">Email Templates <i class="fa fa-arrow-down"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- section end -->
        </div>
    </div>
    <!-- header-container end -->
    </div>
    <!-- Wrapper-->
    <div class="wrapper">
        <!-- Header-->
        <nav class="navbar navbar-default navbar-fixed-top" ng-if="isLogin">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div id="mobile-menu">
                        <div class="left-nav-toggle">
                            <a href="javascript:void(0)">
                                <i class="stroke-hamburgermenu"></i>
                            </a>
                        </div>
                    </div>
                    <a class="navbar-brand" href="#">
                    Project                    
                </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <div class="left-nav-toggle">
                        <button class="toggle-button" ng-click="showhideLeftNav()"><i class="fa fa-bars"></i></button>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#">Versions
                            <span class="label label-warning pull-right">2</span>
                        </a>
                        </li>
                        <li class=" profil-link">
                            <a href="login.html">
                                <span class="profile-address">raviurlams@gmail.com</span>
                                <img src="/images/profile.jpg" class="img-circle" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End header-->
        <!-- Navigation-->
        <aside class="navigation show-hide" ng-show="isDisplayLeftNav && isLogin" ng-style="{'width':isDisplayLeftNav ?  '200px': '0'}">
            <nav>
                <ul class="nav luna-nav">
                    <li class="active">
                        <a href="#">Level 1</a>
                    </li>
                    <li>
                        <a href="#collapse1" data-toggle="collapse" data-target="#collapse1">
                        Level 2<span class="pull-right"> <i class="fa fa-angle-down"></i> </span>
                    </a>
                        <ul id="collapse1" class="nav nav-second collapse">
                            <li><a href="javascript:void(0)"> Test 1</a></li>
                            <li><a href="javascript:void(0)"> Test 2</a></li>
                            <li><a href="javascript:void(0)"> Test 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse2">
                        Level 3<span class="pull-right"> <i class="fa fa-angle-down"></i> </span>
                    </a>
                        <ul id="collapse2" class="nav nav-second collapse">
                            <li><a href="javascript:void(0)">Test 2</a></li>
                            <li><a href="javascript:void(0)">Test 3</a></li>
                            <li><a href="javascript:void(0)">Test 4</a></li>
                            <li><a href="javascript:void(0)">Test 5</a></li>
                        </ul>
                    </li>
                    <li class="nav-info">
                        <i class="pe pe-7s-shield text-accent"></i>
                        <div class="m-t-xs">
                            <li>
                                <a href="javascript:void(0)" data-toggle="collapse" data-target="#collapse3">
                        Basic <span class="pull-right"> <i class="fa fa-angle-down"></i> </span>
                    </a>
                                <ul id="collapse3" class="nav nav-second collapse">
                                    <li><a href="javascript:void(0)">Test 2</a></li>
                                    <li><a href="javascript:void(0)">Test 2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="badge pull-right">2</span> Versions
                                </a>
                            </li>
                        </div>
                    </li>
                </ul>
            </nav>
        </aside>
        <!-- End navigation-->
        <!-- main Dashboard-->
        <ui-view></ui-view>
        <!-- End main Dashboard-->
        <!-- bottom-->
        <nav class="navbar navbar-fixed-bottom">
            <div class="container-fluid">
                <div ng-if="isLogin" class="pull-right" style="margin-top: 30px;">
                    <a ui-sref="signUp">Register</a>
                    <a ui-sref="login">Log In</a>
                </div>
            </div>
        </nav>
        <!-- end bottom-->
    </div>
</body>
<!-- Script -->
<script src="assets.min.js"></script>
<script src="app.min.js"></script>
<script src="templates.js"></script>

</html>
