<div class="wrapper">
    <!-- Header-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="profil-link">
                        <a href="javascript:void(0)">
                            <span class="profile-address">{{loginId}}</span>
                            <img src="/images/profile.jpg" class="img-circle" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Enim impedit tempore provident harum aliquam ipsa rem culpa? 
                Ratione praesentium, accusantium at error. Quas eos in quasi, est minima natus recusandae.
            </div>
        </div>
    </section>   
</div>
