<div id="login-overlay" class="modal-dialog logincontainer">
    <div class="text-center logo">
        <img class="img " src="http://dxlfb468n8ekd.cloudfront.net/gsc/FPNX1V/ff/e1/33/ffe1337e4e884fb49a363d0df8abcd5f/images/login/u7.png?token=b4554a83ceb50e2a6cf76e4ef7a6017b">
        <div class="logolabel">
            <p><span>An All-In-One Billing Solution</span></p>
        </div>
    </div>
    <div class="modal-content">
        <div class="modal-body padding-zero">
            <div class="row">
                <div class="col-xs-7">
                    <div class="well bg-color-none  k-content">
                        <h4 class="modal-title text-center text-color">Sign In</h4>
                        <form name="loginForm" method="POST" ng-submit="validateUser($event,loginForm)" novalidate="novalidate">
                            <ul class="fieldlist">
                                <li>
                                    <input type="text" class="k-textbox input" name="username" autocomplete="off" placeholder="Username" required/>
                                </li>
                                <li>
                                    <input type="text" class="k-textbox input" name="password" autocomplete="off" placeholder="Password" required/>
                                </li>
                            </ul>
                            <div class="checkbox">
                                <input type="checkbox" id="checked-checkbox" class="k-checkbox" checked="checked">
                                <label class="k-checkbox-label" for="checked-checkbox"> Keep Me Signed In</label>
                            </div>
                            <button class="k-button k-primary button" type="submit">Login</button>
                        </form>
                        <div class="pull-right text-label">
                            <a class="k-link" href="#">
                                Forgot Your Passsword?
                            </a>
                        </div>
                        <div class="pull-left bottom-label">Try Mango Billing free for 30 days!</div>
                        <div class="pull-left create-label">
                            <a class="k-link" href="#">
                               Create My Account
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-5 padding-zero">
                    <div class="form-heading">
                        <p><span>Get Paid Faster With Your</span></p>
                        <p><span>Own Custom Client Portal!</span></p>
                    </div>
                    <div>
                        <img class="img header-img" src="http://d26uhratvi024l.cloudfront.net/gsc/FPNX1V/ff/e1/33/ffe1337e4e884fb49a363d0df8abcd5f/images/login/u1.png?token=3ed78250287e050fb89ef8cc32243280">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
