<div class="signin-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>Sign in to App</h3>
            </div>
            <div class="cpanel">
                <div class="panel-body">
                    <form name="loginFormObj" form-type="nonavigation" novalidate>
                        <div class="form-group">
                            <label class="control-label" for="username">Username</label>
                            <strong class="glyphicons glyphicons-asterisk font-color-ff font-100">*</strong>
                            
                            <input type="text" title="Please enter you username" name="username" ng-model="loginFormObj.usernameStr" class="form-control" autocomplete="off" required>
                            <!-- Validations -->
                            <div ng-messages="loginFormObj.username.$error" class="validation-msg" ng-show="((loginFormObj.$submitted || !loginFormObj.username.$pristine))">
                                <div ng-message="required">This field is required</div>                                
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <label class="control-label" for="password">Password</label>
                                <strong class="glyphicons glyphicons-asterisk font-color-ff font-100">*</strong>
                                <a ui-sref="resetPwd" class="pull-right">Forget Password</a>
                            </div>
                            <input type="password" title="Please enter your password" name="passwordStr" ng-model="loginFormObj.password" class="form-control" autocomplete="off" required>
                            <!-- Validations -->
                            <div ng-messages="loginFormObj.passwordStr.$error" class="validation-msg" ng-show="((loginFormObj.$submitted || !loginFormObj.passwordStr.$pristine))">
                                <div ng-message="required">This field is required</div>                                
                            </div>
                        </div>
                        <div ng-if="isErorMsg" class="form-group validation-msg">Invalid Username/Password.</div>
                        <div class="text-center pull-left">
                            <button class="btn btn-success" type="submit" ng-click="validateUser(loginFormObj)">Login</button>
                            <button class="btn btn-default" ui-sref="signUp">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
